<div id="lang" class="text-right">
  <a href="/" hreflang="cs" class="cs">česky</a> / <a href="/en" hreflang="en" class="en">english</a>
</div>

<div id="title" class="container pencil-border-bottom">
  <table>
    <tr>
      <td rowspan="2" class="logo text-center">
        {% if page.lang == 'en' %}
        <a href="/en"><img src="/assets/img/logo.svg"></a>
        {% else %}
        <a href="/"><img src="/assets/img/logo.svg"></a>
        {% endif %}
      </td>

      <td class="title">
        <h1>Vojtěch Hübner</h1>
        {% if page.lang == 'en' %}
        <p>Glass and metal artist</p>
        {% else %}
        <p>Umělecký kovář a sklář</p>
        {% endif %}

      </td>
    </tr>
    <tr>
      <td>
        <div class="menu row">
          {% if page.lang == 'en' %}
          <div class="offset-md-3 col-md-2 col-4 text-center"><a href="/en">Products</a></div>
          <div class="col-md-2 col-4 text-center"><a href="/en/about.html">About</a></div>
          <div class="col-md-2 col-4 text-center"><a href="/en/contact.html">Contact</a></div>
          {% else %}
          <div class="offset-md-3 col-md-2 col-4 text-center"><a href="/">Tvorba</a></div>
          <div class="col-md-2 col-4 text-center"><a href="/o-mne.html">O mně</a></div>
          <div class="col-md-2 col-4 text-center"><a href="/kontakt.html">Kontakt</a></div>
          {% endif %}
        </div>
      </td>
    </tr>

  </table>
</div>
